* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  button {
    border: none;
  }
  
  button:hover {
    cursor: pointer;
  }

  body {
    background: linear-gradient(
        #0cb062 50%,
        #f6f3f3 50%
      ); /* 50% atas merah, 50% bawah hijau */
      background-size: 100% 100%; /* Atur ukuran latar belakang ke 100% x 100% */
      background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10em;
    height: 100vh;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.6rem;
    gap: 1em;
    background-color: #0cb062;
    width: 100%;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0cb062;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: ; */
    /* justify-content: center; */
    gap: 1em;
    /* padding-bottom: 5em; */
  }
  
  .main-content-header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 0.5em; */
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  
  .main-content-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    border-radius: 14px;
  }
  
  .main-content-bio li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
  }
  
  .main-content-bio ul {
    display: flex;
    flex-direction: column;
    gap: 27px;
    background-color: #d9d9d9;
    padding: 1.8em 2.7em;
    border-radius: 14px;
  }
  
  .main-content-bio h1 {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .main-content-pickup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 19px;
  }
  
  .main__content__pickup-truck {
    display: flex;
    /* justify-content: space-between; */
    background-color: #22aa99;
    padding: 33px 36px;
    border-radius: 14px;
    gap: 48px;
  }
  
  .main__content__pickup__truck-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 47px;
  }
  
  .main__content__pickup-amroll {
    display: flex;
    background-color: #22aa99;
    padding: 33px 36px;
    border-radius: 14px;
    gap: 67px;
  }

  .notification {
    background-color: #d9d9d9;
    padding: 2em;
    border-radius: 14px;
    box-shadow: 1px 1px 10px #000000;
  }

  .notification span {
    font-weight: bold;
  }
  
  .main__content__pickup__amroll-text {
    display: flex;
    flex-direction: column;
  }

  .notification-container {
    padding: 2em;
    background-color: #f6f3f3;
    font-size: 20px;
    border-radius: 14px;
  }
  
  /* footer {
    display: flex;
    justify-content: space-between;
    background-color: #22aa99;
    padding: 0.5em 1em;
  } */
  
  /* styles Hamburger */
  
  .menu-toggle {
    display: none;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s; /* Menambahkan transisi */
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  /* .navbar {
    display: flex;
    flex-direction: column;
    order: 2;
  } */
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Menambahkan CSS untuk tombol hamburger saat aktif */
  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  
  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
  
  /* CSS untuk menu di bawah 768px */
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      gap: 0.5rem;
      background-color: #333;
      height: max-content;
      padding: 5px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  
    .navbar {
      padding-right: 2em;
    }
  
    .menu-toggle {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  
    .date-time {
      display: none;
    }
  
    .menu.active {
      display: flex;
      flex-direction: column;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }